@-webkit-keyframes fadeinout {
    0%,100% { opacity: 0; }
    50% { opacity: 1; }
    }
    
@keyframes fadeinout {
    0%,100% { opacity: 0; }
    50% { opacity: 1; }
    }
blink {
    animation-name: fadeinout;
    animation-duration: 2s;
    animation-timing-function: ease-in;
    animation-iteration-count: infinite;
}
